/* CSS BY (Cameron Santos) */
/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');
/* CSS RESET (use this RESET: https://meyerweb.com/eric/tools/css/reset/Links to an external site.) */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    --teal: #4CA7C0;
    --purple: #484FB7;
    --lavender: #6B8FE7;
    --yellow: #E9BB57;
    --pink: #D9526F;
    --dk-gray: #1E1E1E;
    --white: #ffffff;
}

/* GLOBAL STYLES (mobile first/small) */
body {
    background-color: var(--lavender);
    font-family: 'Inter', Arial, sans-serif;
    line-height: 1.3;
    color: var(--dk-gray);
    padding-bottom: 30px;
}

header {
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
    color: var(--white);
    background-color: var(--purple);
    padding-top: 15px;
    padding-bottom: 35px;
}

header p {
    font-style: italic;
}

h1 {
    font-family: 'Kavoon', Arial, sans-serif;
    font-size: 3rem;
}

main {
    max-width: 450px;
    margin: 0 auto;
}

.menu {
    background-color: var(--yellow);
    padding-top: 10px;
    padding-bottom: 20px;
}

.menu h2 {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.menu a {
    display: block;
    background-color: var(--white);
    text-align: center;
    text-decoration: none;
    color: var(--purple);
    font-weight: bold;
    padding: 10px;
    margin: 10px 20px;
}

.menu a:hover {
    text-decoration: underline;
}

#services {
    background-color: var(--purple);
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
}

h3 {
    color: var(--yellow);
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 10px;
}

h4 {
    color: var(--purple);
    font-size: 1.15em;
    font-weight: bold;
}

#services h2 {
    font-size: 2em;
    font-family: 'Kavoon', Arial, sans-serif;
    color: var(--white);
}

.services-content {
    background-color: var(--white);
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    line-height: 1.5;
    margin-bottom: 20px;
}

#why {
    background-color: var(--pink);
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}

#why h2 {
    color: var(--white);
    font-family: 'Kavoon', Arial, sans-serif;
    font-size: 2rem;
    padding-top: 15px;
}

#why ul {
    padding-top: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    gap: 15px 15px;
}

#why li {
    font-weight: bold;
}

#why li:nth-child(1) {
    background-color: var(--teal);
    padding: 25px;
    border-radius: 10px;
    font-size: 20px;
}

#why li:nth-child(2) {
    background-color: var(--lavender);
    padding: 25px;
    border-radius: 10px;
    font-size: 20px;
}

#why li:nth-child(3) {
    background-color: var(--yellow);
    padding: 25px;
    border-radius: 10px;
    font-size: 20px;
}

#why li:nth-child(4) {
    background-color: var(--white);
    padding: 25px;
    border-radius: 10px;
    font-size: 20px;
}

#prices {
    background-color: var(--purple);
    padding: 10px;
}

#prices h2 {
    font-family: 'Kavoon', Arial, sans-serif;
    color: var(--white);
    font-size: 2rem;
}

#prices h3 {
    padding-top: 5px;
}

table {
    margin: 0 auto;
}

th {
    background-color: var(--yellow);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 15px;
    padding-right: 15px;
    border: 2px solid var(--yellow);

}

td {
    background-color: var(--white);
    padding: 10px;
    border: 2px solid var(--yellow);
    text-align: center;
}

#take {
    background-color: var(--pink);
    padding: 20px;
}

#take h2 {
    color: var(--white);
    font-size: 2em;
    font-family: 'Kavoon', Arial, sans-serif;
}

#take p {
    color: var(--white);
    padding-bottom: 10px;
}

#take a {
    display: block;
    text-align: center;
    border-radius: 15px;
    padding: 20px;
    background-color: var(--white);
    text-decoration: none;
    color: var(--dk-gray);
    font-weight: bold;
    box-shadow: 6px 6px 6px var(--dk-gray);
    margin-right: 20px;
    margin-left: 20px;

}

#take a:hover {
    text-decoration: underline;
}

footer {
    display: flex;
    max-width: 450px;
    background-color: var(--purple);
    margin: 0 auto;
    justify-content: center;
    align-items: center;      

}   

footer p{
    margin: 0;
    margin-left: 20px;
}
